.Workspace {
	width: 100%;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	font-family: "Lato";
	background-color: #f5f5f5;
	.CardWrapper {
		width: 100%;
		display: flex;
		gap: 15px;
		flex-wrap: wrap;

		.CardBlock {
			width: 245px;
			display: flex;
			padding: 0.5rem 1rem 0 1rem;
			box-shadow: 0px 0px 2px #eef4fe, 0px 1px 2px #d0daeb;
			border-radius: 7px;
			background-color: #ffffff;
			gap: 15px;
			.card_icon {
				display: flex;
				align-items: flex-start;
				padding: 0;
			}
			.card_data {
				display: flex;
				flex-direction: column;
				align-items: flex-start;
				justify-content: center;
				.card_name {
					font-style: normal;
					font-weight: 400;
					font-size: 18px;
					line-height: 130%;
				}
				.card_values {
					display: flex;
					flex-direction: row;
					align-items: center;
					gap: 5px;
				}
			}
		}
	}
}

.MainHeader {
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-family: "Lato";
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 160%;
	color: #7b8aab;

	.pipelines {
		select {
			outline: none;
			border: none;
			background-color: inherit;
		}
	}
	.date_filter {
		display: flex;
		gap: 20px;
		cursor: pointer;
	}
}
